@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  /* outline: 2px solid black; */
  margin: 0;
  padding: 0;
}

.hero-profil {
  box-shadow: -6px -6px 1px 0px rgba(18, 247, 214, 0.66);
  -webkit-box-shadow: -6px -6px 1px 0px rgba(18, 247, 214, 0.66);
  -moz-box-shadow: -6px -6px 1px 0px rgba(18, 247, 214, 0.66);
}

.skills {
  box-shadow: -8px 0px 0px 0px rgba(12, 115, 184, 0.75);
  -webkit-box-shadow: -8px 0px 0px 0px rgba(12, 115, 184, 0.75);
  -moz-box-shadow: -8px 0px 0px 0px rgba(12, 115, 184, 0.75);
}